.home__main__div {
    width: 80%;
    margin: auto;
    /* background-color: #fff; */
}

.searchbar__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar__div>h1 {
    font-size: 2.5rem;
    font-family: 900;
    font-family: poppins;
}

.input__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 1% 2%;
    border-radius: 10px;
    border: 2px solid #a29eb1;
}

.drop__searchdiv {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: #fff;
    border-radius: 10px;
    padding: 2%;
    align-items: center;
}

.drop__searchdiv p {
    color: #75737e;
    font-family: poppins;
    font-size: 1rem;
    font-weight: 900;
}



.input__div>input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #a29eb1;
    font-size: 1.25rem;
}

.dropdown__search__button {
    background-color: #7164f0;
    color: #fafafe;
    font-family: poppins;
    border: none;
    padding: 5% 10%;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 10px;
}

.cards__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}